html {
    height: 100%;
}

body {
    background: url('/media/home_background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #B86428;
    font-family: 'Blinker';
}

/* Navbar */
.nav-link:hover {
    color:#F2DDCA !important;    
    transition: 250ms;
}

.dropdown-item:hover {
    color:#F2DDCA !important; 
    background: #50200C !important;
    transition: 450ms;
}

.nav-dropdown {
    transition: 0.3s ease !important;
    opacity: 1 !important;  
}

/* Cloudflare animation */
.antext {
    position: relative;
    font-weight: 300;
    font-size: 52px;
    color: #50200C;
}

.antext .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
    line-height: 1em;
}

.antext .line {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 3px;
    width: 100%;
    background-color: #F2DDCA;
    transform-origin: 0.5 0;
}

.antext .ampersand {
    font-family: Blinker, serif;  
    font-weight: 400;
    width: 1em;
    margin-right: -0.1em;
    margin-left: -0.1em;
}

.antext .letters {
    display: inline-block;
    opacity: 0;
}

.andsign {
    font-weight: lighter;
    font-size: smaller;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #F2DDCA;
    color: #21003D;
    min-width: 200px;
}

.btn-black {
    background: #50200C;
    color: #F2DDCA;
}

.btn-outline-black {
    background: #F2DDCA;
    color: #50200C !important; /* use important to override link colors for <a> elements */
    border: 1px solid #50200C;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: #50200C;
    color: #F2DDCA !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #50200C;
    color: #F2DDCA;
}

.text-title {
    color: #21003D !important;
    font-weight: bolder;
    text-shadow: 1px 1px #F2DDCA;

}

.text-subtitle {
    color: #21003D;
    text-shadow: 1px 1px #F2DDCA;

}

.text-black {
    color: #50200C !important;
}

.border-black {
    border: 1px solid #50200C !important;
}

.bg-black {
    background: #50200C !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #F2DDCA;
	z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #B86428 !important;
    color: #F2DDCA !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #F2DDCA;
}

/* bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid #50200C;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #50200C !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #50200C; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #50200C;
    border-radius: 3;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #21003D;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #50200C;
    border: 1px solid #50200C;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #F2DDCA;
    background-color: #50200C;
    border-color: #50200C;
}

.allauth-form-inner-content a {
	color: #21003D; /* text-info */
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 170px;        

    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 120px;
    }

    body {
        height: calc(100vh - 120px);
    }
}

@media (max-width: 991px) {
    .antext {    
        font-size: 48px;
    }
    .text-subtitle {
        font-size: 35px;
    }
}

@media (max-width: 767px) {
    .antext {    
        font-size: 38px;
    }
    .text-subtitle {
        font-size: 25px;
    }
}

@media (max-width: 470px) {
    .antext {    
        font-size: 30px;
    }
    .text-subtitle {
        font-size: 20px;
    }
}
