<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="gohome-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>                
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="food-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dog Food
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="food-link">
                <a href="{% url 'products' %}?category=dry_food" class="dropdown-item">Dry Food</a>
                <a href="{% url 'products' %}?category=wet_food" class="dropdown-item">Wet Food</a>
                <a href="{% url 'products' %}?category=diet" class="dropdown-item">Specialist Diets</a>
                <a href="{% url 'products' %}?category=treats" class="dropdown-item">Treats</a>
                <a href="{% url 'products' %}?category=puppy_food" class="dropdown-item">Puppy Food</a>
                <a href="{% url 'products' %}?category=dry_food,wet_food,diet,treats,puppy_food" class="dropdown-item">All Food</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="equipment-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dog Equipment
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="equipment-link">
                <a href="{% url 'products' %}?category=beds" class="dropdown-item">Beds</a>
                <a href="{% url 'products' %}?category=leads_collars" class="dropdown-item">Leads &amp; Collars</a>
                <a href="{% url 'products' %}?category=toys" class="dropdown-item">Toys</a>
                <a href="{% url 'products' %}?category=bowls" class="dropdown-item">Bowls</a>
                <a href="{% url 'products' %}?category=crates" class="dropdown-item">Crates</a>
                <a href="{% url 'products' %}?category=grooming" class="dropdown-item">Grooming</a>                
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="wear-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dog Wear
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="wear-link">
                <a href="{% url 'products' %}?category=coats_jackets" class="dropdown-item">Coats &amp; Jackets</a>
                <a href="{% url 'products' %}?category=fashion" class="dropdown-item">Fashion</a>
                <a href="{% url 'products' %}?category=accessories" class="dropdown-item">Accessories</a>
            </div>
        </li>
    </ul>
</div>