<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>                
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="food-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dog Food
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="food-link">
                <a href="" class="dropdown-item">Dry Food</a>
                <a href="" class="dropdown-item">Wet Food</a>
                <a href="" class="dropdown-item">Specialist Diets</a>
                <a href="" class="dropdown-item">Treats</a>
                <a href="" class="dropdown-item">Puppy Food</a>
                <a href="" class="dropdown-item">All Food</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="equipment-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dog Equipment
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="equipment-link">
                <a href="" class="dropdown-item">Beds &amp; Baskets</a>
                <a href="" class="dropdown-item">Leads &amp; Collars</a>
                <a href="" class="dropdown-item">Toys</a>
                <a href="" class="dropdown-item">Bowls &amp; Feeders</a>
                <a href="" class="dropdown-item">Crates</a>
                <a href="" class="dropdown-item">Grooming</a>
                <a href="" class="dropdown-item">Clothing</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="wear-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dog Wear
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="wear-link">
                <a href="" class="dropdown-item">Coats &amp; Jackets</a>
                <a href="" class="dropdown-item">Fashion</a>
                <a href="" class="dropdown-item">Accessories</a>
            </div>
        </li>
    </ul>
</div>